html {
  min-height: 100%;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-image: radial-gradient(circle at top, #1f3756, #141639);
  background-attachment: fixed;
  position: relative;
}
